<div class="row">
  <div class="col-12 text-center" style="padding: 20px; background-color: #f2f2f2">
    <h1> <%= @user.email %> </h1>
    <h4> <%= @user.user_name %> </h4>
    <h1> <%= @user.bio %> </h1>
  </div>
</div>
